:root {
  padding: 48px;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(24, 28, 35);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("https://ada-site-frontend.s3.sa-east-1.amazonaws.com/home/home-background.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
}
a:hover {
  color: #213547;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

